{
    "trailingComma": "all",
    "tabWidth": 2,
    "singleQuote": true,
    "printWidth": 80,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "embeddedLanguageFormatting": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        }
    ]
}